.about__note {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about__text-container {
    margin: 3rem 5% 0;

    a {
        color: inherit;
    }

    @media screen and (max-width: 480px) {
        margin: 2rem 2% 0;
    }
}

.about__text-line {
    overflow: hidden;
}