.skills__container {
    margin: 0 5rem 1rem 5rem;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
        width: 100%;
        margin: 0 0 1rem;
        flex-direction: column;
    }
}

.skills__side-text {
    display: flex;
    flex: 0.4;

    @media screen and (max-width: 900px) {
        width: auto;
        max-width: none;
        text-align: center;
        margin: 1rem 0.25rem;
    }
}

.skills__grid {
    display: flex;
    flex: 1.6;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 480px) {
        justify-content: space-evenly;
    }
}

.skills__item-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.skills__score-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3px;
    width: 4.5rem;
    background-color: var(--lighter-color);
    border-radius: 5px;
    overflow: hidden;
}

.skills__score-bar {
    width: 100%;
    height: 7px;
    background: linear-gradient(to right, var(--alt-color) 55%, var(--primary-color) 90%, var(--lighter-color) 100%);
}

.skills__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0.40rem 1.25rem;
    padding: 6px 12px;

    border-radius: 18px;
    transition: all 0.30s ease-in-out;

    a {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 4px 8px 4px 0;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 480px) {
            width: 42px;
            height: 42px;
        }
    }

    @media screen and (max-width: 480px) {
        margin: 0.40rem 0.60rem;
        padding: 5px 10px;

        border-radius: 15px;
        box-shadow: 0 2px 4px var(--shadow-color);
    }
}

.skills__langs-card {
    margin-right: 2rem;
}