.app__footer {
    width: 100%;
    padding: 2.50rem 8% 2rem;
}

.app__footer-bg {
    width: 100%;
    background-color: var(--footer-color);
}

.app__footer-divider {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 1rem 3rem 0;
    box-shadow: 0 0 30px var(--shadow-color);

    @media screen and (max-width: 480px) {
        padding: 1rem 1.50rem;
    }
}

.app__footer-divider-rounded {
    border: 2px solid var(--lighter-color);
    border-radius: 2px;
}

.app__footer-sites {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    h4 {
        padding-bottom: 0.80rem;
    }

    a {
        line-height: 1.75;
    }
}