.app__return-to-top {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 5;
    background-color: var(--lighter-gray-color);
    border-radius: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 64px;
    height: 64px;
    opacity: 45%;
    transition: opacity 0.35s;

    img {
        width: 75%;
        height: 75%;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    &:hover {
        opacity: 85%;
        box-shadow: 0 0 20px rgba(150, 220, 250, 0.5);
    }

    @media screen and (max-width:900px) {
        height: 48px;
        width: 48px;
        bottom: 20px;
        right: 35px;
        border-radius: 8px;
    }
}