.urls__url-shortener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .urls__title-text {
        color: var(--darker-color);
        text-align: left;
        scale: 130%;
        margin-bottom: 4rem;

        @media screen and (max-width: 480px) {
            scale: 105%;
            margin-bottom: 2rem;
        }
    }

    .urls__input-field {
        border: 1px solid var(--dark-color);
        background: var(--lightest-color);
        scale: 120%;
        padding: 12px;
        width: 60%;

        box-shadow: 5px 5px 10px var(--shadow-color);

        @media screen and (max-width: 480px) {
            scale: 100%;
            width: 80%;
        }
    }
}