.app_socials {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__socials-container {
    width: 80%;
    margin-top: 3rem;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
        width: 100%;
        flex-direction: column;
    }
}

.app__socials-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 900px) {
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
}

.app__socials-item {
    flex-direction: column;
    text-align: center;
    margin: 0 3rem 2rem;
    transition: all 0.3 ease-in-out;

    div {
        width: 120px;
        height: 120px;
        margin-bottom: 0.5rem;
        border-radius: 30%;

        background-color: #ffffff;

        a {
            width: 60%;
            height: 60%;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            box-shadow: 0 0 20px rgba(150, 220, 250, 0.32);
        }

        @media screen and (min-width: 2000px) {
            width: 150px;
            height: 150px;
        }

        @media screen and (min-width: 2000px) {
            width: 70px;
            height: 70px;
        }
    }

    p {
        font-weight: 500;
        margin-top: 0.35rem;
    }

    @media screen and (min-width: 2000px) {
        margin: 1rem 2rem;

        // p {
        //     margin-top: 1rem;
        // }
    }
}

.app__socials-texts {
    flex: 0.35;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    margin-top: 2rem;

    @media screen and (max-width: 900px) {
        margin-top: 3rem;
    }

    .app__socials-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1.25rem;

        h4 {
            font-weight: 500;
        }

        p {
            font-weight: 400;
            color: var(--gray-color);
            margin-top: 5px
        }
    }
}