.app_socials {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__socials-container {
    width: 90%;
    margin-top: 5rem;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
        width: 100%;
        flex-direction: column;
    }
}

.app__socials-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 900px) {
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
}

.app__socials-item {
    width: 128px;
    height: 128px;
    text-align: center;
    transition: all 0.30s ease-in-out;

    margin: 0 3.25rem 5rem;
    border-radius: 30%;

    background-color: var(--secondary-color);

    a {
        width: 60%;
        height: 60%;

        margin: 22.50%;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        box-shadow: 0 0 20px var(--shadow-glow-color);
    }

    @media screen and (min-width: 2000px) {
        width: 150px;
        height: 150px;
    }

    @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
    }

    p {
        text-align: center;
        font-weight: 500;
        margin-top: 0.35rem;
    }

    @media screen and (min-width: 2000px) {
        margin: 1rem 2rem;

        // p {
        //     margin-top: 1rem;
        // }
    }
}

.app__socials-texts {
    flex: 0.55;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    margin-top: 2rem;

    @media screen and (max-width: 900px) {
        margin-top: 3rem;
    }

    .app__socials-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 3rem;

        p {
            margin-top: 5px
        }
    }

    .app__image-socials-text-image {
        // height: 64px;

        img {
            height: 100%;
            width: 100%;
        }
    }
}