@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap");

html {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    --primary-color: rgb(135, 206, 235); // 87ceeb
    --secondary-color: rgb(250, 252, 252);
    --lighter-color: rgb(235, 235, 235);
    --light-color: rgb(220, 220, 220);
    --dark-color: rgb(160, 160, 160);
    --darker-color: rgb(128, 128, 128);
    --darkest-color: rgb(32, 32, 32);

    --navbar-color: rgba(150, 220, 250, 0.15);
    --divier-color: var(--lighter-color);
    --footer-color: rgb(246, 247, 248);
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(135, 206, 235, 0.25);

    background-color: var(--secondary-color);
    transition: background-color 0.50s;
}

html.app_dark {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    --primary-color: rgb(135, 206, 235);
    --secondary-color: rgb(32, 32, 32);
    --lighter-color: rgb(32, 32, 32);
    --light-color: rgb(128, 128, 128);
    --dark-color: rgb(160, 160, 160);
    --darker-color: rgb(220, 220, 220);
    --darkest-color: rgb(235, 235, 235);

    --navbar-color: rgba(135, 206, 235, 0.20);
    --divier-color: var(--light-color);
    --footer-color: rgb(32, 32, 32);
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(135, 206, 235, 0.25);

    background-color: var(--secondary-color);
    transition: background-color 0.50s;
}

html.app_green {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    --primary-color: rgb(170, 235, 150);
    --secondary-color: rgb(252, 252, 250);
    --lighter-color: rgb(235, 235, 235);
    --light-color: rgb(220, 220, 220);
    --dark-color: rgb(160, 160, 160);
    --darker-color: rgb(128, 128, 128);
    --darkest-color: rgb(32, 32, 32);

    --navbar-color: rgba(170, 235, 150, 0.20);
    --divier-color: var(--lighter-color);
    --footer-color: rgb(246, 247, 248);
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(170, 235, 150, 0.30);

    background-color: var(--secondary-color);
    transition: background-color 0.50s;
}

html.app_pink {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    --primary-color: rgb(255, 192, 203);
    --secondary-color: rgb(252, 248, 250);
    --lighter-color: rgb(235, 235, 235);
    --light-color: rgb(220, 220, 220);
    --dark-color: rgb(160, 160, 160);
    --darker-color: rgb(128, 128, 128);
    --darkest-color: rgb(32, 32, 32);

    --navbar-color: rgba(255, 192, 203, 0.20);
    --divier-color: var(--lighter-color);
    --footer-color: rgb(246, 247, 248);
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(255, 192, 203, 0.25);

    background-color: var(--secondary-color);
    transition: background-color 0.50s;
}

html.app_debug {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    --primary-color: #ffffff;
    --secondary-color: #00ff00;
    --lighter-color: #000000;
    --light-color: #00ffff;
    --dark-color: #dddddd;
    --darker-color: #ff0000;
    --darkest-color: #ff00ff;

    --navbar-color: #ffff00;
    --divier-color: var(--lighter-color);
    --footer-color: #aaffaa;
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(255, 255, 255, 0.25);

    background-color: var(--secondary-color);
    transition: background-color 0.50s;
}

html.app_debug_full {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --lighter-color: #ffffff;
    --light-color: #ffffff;
    --dark-color: #ffffff;
    --darker-color: #ffffff;
    --darkest-color: #ffffff;

    --navbar-color: #ffffff;
    --divier-color: var(--lighter-color);
    --footer-color: #ffffff;
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(255, 255, 255 0.25);

    background-color: var(--secondary-color);
    transition: background-color 0.50s;
}

.app__whitebg {
    background-color: var(--secondary-color);
}

.app__primarybg {
    background-color: var(--secondary-color);
}

.app__container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (max-width: 450px) {
        padding: 4rem 1rem 2rem;
    }
}

.hidden {
    display: none;
}

.copyright {
    width: 100%;
    padding: 1.50rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
        // text-transform: uppercase;
        color: var(--darkest-color);
    }
}

.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--darkest-color);
    text-transform: capitalize;

    transition: color 0.35s;

    span {
        color: var(--primary-color);
    }

    // @media screen and (min-width: 2000px) {
    //     font-size: 4rem;
    // }

    // @media screen and (max-width: 450px) {
    //     font-size: 2rem;
    // }
}

.p-text {
    font-size: 1rem;
    color: var(--darker-color);
    line-height: 1.50;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 1.50rem;
    // }
}

.desc-text {
    font-size: 0.95rem;
    color: var(--darker-color);
    line-height: 1.45;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 1.50rem;
    // }
}

.text {
    font-size: 1.20rem;
    color: var(--darkest-color);
    line-height: 1.75;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 1.75rem;
    // }
}

.bold-text {
    font-size: 1.05rem;
    font-weight: 700;
    color: var(--darkest-color);
    text-align: left;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 2rem;
    // }

    // @media screen and (max-width: 450px) {
    //     font-size: 0.90rem;
    // }
}

.app__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding: 1rem;

    div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        margin: 0.25rem 0;
        border: 1px solid var(--light-color);

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.30s ease-in-out;

        svg {
            width: 15px;
            height: 15px;
            color: var(--dark-color);
        }

        &:hover {
            background-color: var(--primary-color);
            border-color: var(--primary-color);

            svg {
                color: var(--secondary-color);
            }
        }

        @media screen and (min-width: 2000px) {
            width: 70px;
            height: 70px;

            margin: 0.50rem 0;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.app__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;

    .app__navigation-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #cbcbcb;
        margin: 0.50rem;

        transition: background-color 0.20s ease-in-out;

        &:hover {
            background-color: var(--primary-color);
        }

        // @media screen and (min-width: 2000px) {
        //     width: 20px;
        //     height: 20px;
        // }
    }
}

@media screen and (max-width: 500px) {

    .app__navigation,
    .app__social {
        display: none;
    }

    .copyright {
        padding: 2rem;
    }
}