@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@300;400;600;700&display=swap");

/*
    HTML standard color names: https://www.w3schools.com/colors/colors_names.asp
*/

html {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgba(135, 206, 235, 1); // 87ceeb
    --secondary-color: rgb(250, 253, 254, 1); // 99%
    --alt-color: rgba(116, 214, 162, 1); // 84%
    --lightest-color: rgba(254, 254, 254, 1);
    --lighter-color: rgba(242, 242, 242, 1);
    --light-color: rgba(232, 232, 232, 1);
    --dark-color: rgba(150, 150, 150, 1);
    --darker-color: rgba(120, 120, 120, 1);
    --darkest-color: rgba(32, 32, 32, 1);

    --navbar-color: rgba(150, 220, 250, 0.30);
    --navbar-s-color: rgba(150, 220, 250, 0.45);
    --head-background-color: rgba(168, 220, 240, 0.90);
    --divier-color: var(--lighter-color);
    --shadow-color: rgba(16, 16, 16, 0.20);
    --shadow-glow-color: rgba(135, 206, 235, 0.25);
    --glow-color: rgba(228, 244, 251, 0.40);
    --footer-color: rgba(246, 247, 248, 1);

    transition: background-color 0.75s;
}

html.app_deep-space {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgb(16, 64, 128);
    --secondary-color: rgb(4, 8, 16);
    --alt-color: rgba(168, 107, 188, 1);
    --lightest-color: rgb(8, 10, 12);
    --lighter-color: rgb(16, 16, 16);
    --light-color: rgb(120, 120, 120);
    --dark-color: rgb(150, 150, 150);
    --darker-color: rgb(220, 220, 220);
    --darkest-color: rgb(235, 235, 235);

    --navbar-color: rgba(32, 32, 64, 0.40);
    --navbar-s-color: rgba(16, 16, 64, 0.20);
    --head-background-color: rgb(4, 8, 24);
    --divier-color: var(--head-background-color);
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(200, 200, 235, 0.30);
    --glow-color: rgba(200, 200, 235, 0.40);
    --footer-color: rgb(0, 0, 32);

    transition: background-color 0.75s;
}

html.app_dark {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgba(135, 206, 235, 1);
    --secondary-color: rgb(20, 20, 20);
    --alt-color: rgba(69, 128, 96, 1);
    --lightest-color: rgb(10, 10, 10);
    --lighter-color: rgb(32, 32, 32);
    --light-color: rgb(120, 120, 120);
    --dark-color: rgb(150, 150, 150);
    --darker-color: rgb(220, 220, 220);
    --darkest-color: rgb(235, 235, 235);

    --navbar-color: rgba(135, 206, 235, 0.10);
    --navbar-s-color: rgba(135, 206, 235, 0.15);
    --head-background-color: var(--secondary-color);
    --divier-color: var(--light-color);
    --shadow-color: rgba(160, 160, 160, 0.25);
    --shadow-glow-color: rgba(135, 206, 235, 0.25);
    --glow-color: rgba(135, 206, 235, 0.40);
    --footer-color: rgb(16, 16, 16);

    transition: background-color 0.75s;
}


html.app_pink {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgb(255, 204, 213); // 90%
    --secondary-color: rgb(255, 243, 242); // 98%
    --alt-color: rgb(224, 211, 195);
    --lightest-color: rgba(255, 248, 248, 1);
    --lighter-color: rgba(255, 235, 235, 1);
    --light-color: rgba(255, 224, 224, 1);
    --dark-color: rgb(150, 150, 150);
    --darker-color: rgb(120, 120, 120);
    --darkest-color: rgb(32, 32, 32);

    --navbar-color: rgba(255, 204, 214, 0.30);
    --navbar-s-color: rgba(255, 204, 214, 0.45);
    // 92%
    --head-background-color: rgb(255, 214, 222);

    --divier-color: var(--lighter-color);
    --shadow-color: rgba(16, 16, 16, 0.25);
    --shadow-glow-color: rgba(255, 192, 203, 0.25);
    --glow-color: rgba(255, 240, 243, 0.40);
    --footer-color: rgb(246, 247, 248);

    transition: background-color 0.75s;
}

html.app_green {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgb(170, 235, 150);
    --secondary-color: rgb(234, 250, 229); // 94%
    --alt-color: rgb(140, 215, 245);
    --lightest-color: rgb(254, 254, 254);
    --lighter-color: rgba(242, 242, 242, 1);
    --light-color: rgba(232, 232, 232, 1);
    --dark-color: rgb(150, 150, 150);
    --darker-color: rgb(120, 120, 120);
    --darkest-color: rgb(32, 32, 32);

    --navbar-color: rgba(170, 235, 150, 0.30);
    --navbar-s-color: rgba(170, 235, 150, 0.45);
    --head-background-color: var(--primary-color);
    --divier-color: var(--lighter-color);
    --shadow-color: rgba(16, 16, 16, 0.25);
    --shadow-glow-color: rgba(170, 235, 150, 0.30);
    --glow-color: rgba(234, 250, 229, 0.40);
    --footer-color: rgb(246, 247, 248);

    transition: background-color 0.75s;
}

html.app_nether {
    font-family: "Nunito", "Roboto", "Verdana", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgb(150, 0, 0);
    --secondary-color: rgb(48, 0, 0);
    --alt-color: rgb(140, 215, 245);
    --lightest-color: rgb(32, 8, 8);
    --lighter-color: rgb(64, 16, 16);
    --light-color: rgb(120, 120, 120);
    --dark-color: rgb(150, 150, 150);
    --darker-color: rgb(220, 220, 220);
    --darkest-color: rgb(235, 235, 235);

    --navbar-color: rgba(135, 206, 235, 0.10);
    --navbar-s-color: rgba(135, 206, 235, 0.15);
    --head-background-color: rgb(77, 0, 0);
    --divier-color: var(--light-color);
    --shadow-color: rgba(160, 160, 160, 0.20);
    --shadow-glow-color: rgba(233, 124, 124, 0.25);
    --glow-color: rgba(235, 135, 135, 0.40);
    --footer-color: rgb(64, 0, 0);

    transition: background-color 0.75s;
}


.app__whitebg {
    background-color: var(--secondary-color);
}

.app__primarybg {
    background-color: var(--secondary-color);
}

.app__container {
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: row;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (max-width: 480px) {
        padding: 3rem 1rem 2rem;
    }
}

.hidden {
    display: none;
}

.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.copyright {
    width: 100%;
    padding: 1.50rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
        // text-transform: uppercase;
        color: var(--darkest-color);
    }
}

.head-text {
    font-size: 2.75rem;
    font-weight: 600;
    text-align: center;
    color: var(--darkest-color);

    transition: color 0.35s;

    span {
        color: var(--primary-color);
    }

    // @media screen and (min-width: 2000px) {
    //     font-size: 4rem;
    // }

    // @media screen and (max-width: 480px) {
    //     font-size: 2rem;
    // }
}

.p-text {
    font-size: 1rem;
    color: var(--darker-color);
    line-height: 1.50;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 1.50rem;
    // }
}

.desc-text {
    font-size: 0.95rem;
    color: var(--darker-color);
    line-height: 1.45;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 1.50rem;
    // }
}

.text {
    font-size: 1.15rem;
    color: var(--darkest-color);
    line-height: 1.75;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 1.75rem;
    // }
}

.bold-text {
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--darkest-color);
    text-align: left;

    transition: color 0.50s;
    // @media screen and (min-width: 2000px) {
    //     font-size: 2rem;
    // }

    // @media screen and (max-width: 480px) {
    //     font-size: 0.90rem;
    // }
}

.app__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding: 1rem;

    div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        margin: 0.25rem 0;
        border: 1px solid var(--light-color);

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.30s ease-in-out;

        svg {
            width: 15px;
            height: 15px;
            color: var(--dark-color);
        }

        &:hover {
            background-color: var(--primary-color);
            border-color: var(--primary-color);

            svg {
                color: var(--secondary-color);
            }
        }

        @media screen and (min-width: 2000px) {
            width: 70px;
            height: 70px;

            margin: 0.50rem 0;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.app__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;

    .app__navigation-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #cbcbcb;
        margin: 0.50rem;

        transition: background-color 0.20s ease-in-out;

        &:hover {
            background-color: var(--primary-color);
        }

        // @media screen and (min-width: 2000px) {
        //     width: 20px;
        //     height: 20px;
        // }
    }
}

@media screen and (max-width: 500px) {

    .app__navigation,
    .app__social {
        display: none;
    }

    .copyright {
        padding: 2rem;
    }
}