@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
    --font-base: "Nunito", "Roboto", sans-serif;

    --primary-color: #fafbfc;
    --secondary-color: #87ceeb;
    --white-color: #fcfcfc;
    --lighter-gray-color: #e9e9e9;
    --light-gray-color: #dcdcdc;
    --gray-color: #a0a0a0;
    --true-gray-color: #808080;
    --black-color: #202020;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--lighter-gray-color);
}

::-webkit-scrollbar-thumb {
    background: var(--light-gray-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-color);
}