.notfound {
    background-color: var(--secondary-color);
    height: 100vh;
    width: 100vw;
    padding-top: 7rem;
}

.nf__nf-text {
    margin: 3rem;
    font-size: 1.75rem;
    color: var(--darkest-color);
    text-align: center;
}

.nf__fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--darkest-color);
    z-index: 9998;
}

.nf__fade-overlay-text {
    font-size: 1.75rem;
    color: var(--light-color);

    // transition: color 0.50s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.nf__redirect-text {
    margin-top: 5rem;
    font-size: 1.5rem;
    text-align: center;

    cursor: pointer;
}